.nav .nav-item-text {
	margin-bottom: 10px;
	vertical-align: middle;
	display: inline-block;
}

.hidden {
	display: none;
}

.nav .fa {
	margin: 0 6px;
}

.navbar > .container {
	width: 99%;
}

.nav .last-item {
	padding-right: 0;
}

.projects-body,
.padded-icon {
	padding: 0 6px;
}

.three-panel img {
	width: 99%;
	height: 246.66px;
}

.four-panel img {
	width: 100%;
}

.projects-body a {
	color: #333333;
}

.projects-body a:hover {
	color: #777777;
	text-decoration: none;
}

div.container > ul.nav > li.no-left-padding > a {
	padding-left: 0;
}
